.grid-about {
    display: grid;
    grid-template-areas:
        'about1 about2 about3 about4';
    gap: 20px;
    max-width: 100%;
    height: auto;
    /* background-color: #2196F3; */
}

.grid-about>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 4px 0;
    font-size: 30px;
}

.grid-about img {
    width: 100%;
    height: 242px;
}

p,
h3 {
    font-size: 14px;
    text-align: left;
}

h3 {
    font-size: 25px;
}

.button-contact {
    width: 100%;
    font-size: 14px;
    padding: 8px;
    border: 0;
    cursor: pointer;
    background-color: #f1f1f1;
}

.button-contact:hover {
    background: #ccc;
    color: black;
}

@media only screen and (max-width: 500px) {
    .grid-about {
        grid-template-areas:
            'about1'
            'about2'
            'about3'
            'about4';
    }
}