.grid-project {
    display: grid;
    grid-template-areas:
        'photo1 photo2 photo3 photo4'
        'photo5 photo6 photo7 photo8';
    gap: 20px;
    max-width: 100%;
    height: auto;
    /* background-color: #2196F3; */
}

.grid-project>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 4px 0;
    font-size: 30px;
}

.grid-project img {
    width: 100%;
    height: 242px;
}

.black-box {
    position: absolute;
    background-color: black;
    color: white;
    font-size: 14px;
    width: auto;
    padding: 4px 0;
}

#projects {
    margin-top: 16px;
    text-align: left;
    font-size: 25px;
}

@media only screen and (max-width: 500px) {
    .grid-project {
        grid-template-areas:
            'photo1'
            'photo2'
            'photo3'
            'photo4'
            'photo5'
            'photo6'
            'photo7'
            'photo8';
    }
}

@media (max-width: 820px) {
    .grid-project {
        grid-template-areas:
            'photo1 photo2 photo3'
            'photo4 photo5 photo6'
            'photo7 photo8';
    }
}