.navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    box-shadow: 0px 4px 4px lightgrey;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
}

/* link navbar */
.navbar a {
    float: left;
    display: block;
    color: #333;
    font-size: 22px;
    padding: 14px 40px;
    text-decoration: none;
    letter-spacing: 4px;
}

/* merubah warna background link ketika mouse lewat */
.navbar a:hover {
    background: #ccc;
    color: black;
}

@media only screen and (max-width: 500px) {
    span {
        display: none;
    }

    .menu {
        display: none;
    }
}