header {
    /* align-items: center;
    margin-top: 3%;
    margin-bottom: 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

header>h1 {
    position: absolute;
    font-size: 36px;
    color: white;
}

header b {
    background-color: black;
    width: 250px;
    opacity: 80%;
}

#sub-header {
    margin-left: 4px;
    font-size: 60px;
}

.img-banner {
    max-width: 100%;
    height: auto;
}