﻿/* add your styling here */
.main {
    /* width: 1564px; */
    width: 84%;
    height: auto;
    position: relative;
    left: 8%;
}

.normal-text {
    font-size: 14px;
}

.small-text {
    font-size: 10px;
}

hr {
    opacity: 20%;
}