/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    max-width: 100%;
    height: auto;
    /* background-color: #2196F3; */
/* } */

/* .grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 4px 0;
    font-size: 30px;
} */


/* p {
    color: grey;
}

.item1 {
    grid-column: 1 / span 4;
}

.item6 {
    grid-area: 4/1 / 5/5;
}

.item15 {
    grid-area: 6/1 / 6/5;
}

.item16 {
    grid-area: 7/1 / 7/5;
}

.item17 {
    grid-area: 8/1 / 8/5;
}


.grid-container .grid-container h3 {
    text-align: left;
} */



/* @media only screen and (max-width: 1400px) {
    .item1 {
        grid-column: 1 / 4;
    }

    .item2 {
        grid-area: 2 / 1 / span 2 /span 1;
    }

    .item3 {
        grid-area: 2 / 2 / span 2 /span 2;
    }

    .item4 {
        grid-area: 2 / 3 / span 2 / span 3;
    }

    .item5 {
        grid-area: 3 / 1 / span 3 / span 1;
    }

    .item6 {
        grid-area: 5 / 1 / span 5 / span 3;
    }

    .item7 {
        grid-area: 3 / 2 / span 3 / span 2;
    }

    .item8 {
        grid-area: 3 / 3 / span 3 / span 3;
    }
} */