.form-control {
    width: 100%;
}

.input-box {
    width: 99.2%;
    height: 24px;
    margin: 8px 0;
    border: 1px solid lightgrey;
}

.button {
    background-color: #000;
    border: 0;
    color: white;
    margin: 12px 0;
    margin-bottom: 16px;
    float: left;
    width: auto;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: #ccc;
    color: black;
}

::placeholder {
    font-size: 14px;
}